<h1 class="header-logo"><a href="/">Ostio</a></h1>
<div class="header-auth">
  {{#if_logged_in}}
    {{#with_user}}
      <a href="/{{login}}"><img class="avatar header-avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}"></a>
      <a href="/{{login}}">{{login}}</a>
    {{/with_user}}
  {{else}}
    <button class="header-login-button button go-to" data-href="http://dev.ost.io:3000/auth/github">Login with GitHub</button>
  {{/if_logged_in}}
</div>
