<h1 class="header-logo">
  <a href="{{url "home#show"}}">Ost.io</a>
</h1>

<div class="header-links">
  <h4 class="header-link">
    <a href="{{url "feed#show"}}">Feed</a>
  </h4>
</div>

<div class="header-auth">
  {{#ifLoggedIn}}
    {{#withUser}}
      <a href="{{url "users#show" login}}"><img class="avatar header-avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}"></a>
      <a href="{{url "users#show" login}}">{{login}}</a>
      <a class="icon-cog" href="{{url "settings#show"}}"></a>
      <a class="icon-logout" href="{{url "auth#logout"}}"></a>
    {{/withUser}}
  {{else}}
    {{#withConfig}}
      <a href="{{api.root}}/auth/github/?origin={{showLoginUrl}}" class="header-login-button button noscript">Login with GitHub</a>
    {{/withConfig}}
  {{/ifLoggedIn}}
</div>
