<h1 class="header-logo"><a href="/">Ostio</a></h1>
<div class="header-auth">
  {{#if_logged_in}}
    {{#with_user}}
      <a href="/{{user.username}}"><img class="avatar header-avatar" src="{{#gravatar}}{{user.gravatar_id}}{{/gravatar}}"></a>
      <a href="/{{user.username}}">{{user.username}}</a>
    {{/with_user}}
  {{else}}
    <button class="header-login-button button">Login with GitHub</button>
  {{/if_logged_in}}
</div>