{{#if user_login}}
  <h2>
    <a class="navigation-link" href="{{url "users#show" user_login}}">
      <img class="avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}" alt="" />
    </a>
    <a class="navigation-link" data-type="login" href="{{url "users#show" user_login}}">{{user_login}}</a>
    {{#if repo_name}}
      / <a class="navigation-link" data-type="repo" href="{{url "repos#show" user_login repo_name}}">{{repo_name}}</a>
      {{#if topic_number}}
        / <a class="navigation-link" data-type="topic" href="{{url "topics#show" user_login repo_name topic_number}}">#{{topic_number}}</a>
      {{/if}}
    {{/if}}
  </h2>
{{/if}}
