<a class="topic-post-avatar-container" href="/{{user.login}}">
  <img class="topic-post-avatar avatar" src="{{#gravatar}}{{user.gravatar_id}}{{/gravatar}}" alt="" />
</a>
<div class="topic-post-content">
  <div class="topic-post-header">
    <a class="topic-post-author" href="/{{user.login}}">{{user.login}}</a>
    <time class="topic-post-metadata topic-post-date">{{#date}}{{created_at}}{{/date}}</time>
  </div>
  <div class="topic-post-text">
    <p>{{text}}</p>
  </div>
</div>
