<a class="thread-post-avatar-container" href="/{{user.username}}">
  <img class="thread-post-avatar avatar" src="{{#gravatar}}{{user.gravatar_id}}{{/gravatar}}" alt="" />
</a>
<div class="thread-post-content">
  <div class="thread-post-header">
    <a class="thread-post-author" href="/{{user.username}}">{{user.username}}</a>
    <time class="thread-post-metadata thread-post-date">{{#date}}{{created_at}}{{/date}}</time>
  </div>
  <div class="thread-post-text">
    <p>{{text}}</p>
  </div>
</div>
