<nav class="navigation">
  <h2>
    <img class="avatar" src="{{#gravatar}}{{user.gravatar_id}}{{/gravatar}}" alt="" />
    <a href="/{{user.username}}">{{user.username}}</a> /
    <a href="/{{user.username}}/{{name}}">{{name}}</a>
  </h2>
</nav>

<div class="repo-thread-list-container"></div>
