<nav class="navigation">
  <h2>
    <img class="avatar" src="{{#gravatar}}{{user.gravatar_id}}{{/gravatar}}" alt="" />
    <a href="/{{user.login}}">{{user.login}}</a> /
    <a href="/{{user.login}}/{{name}}">{{name}}</a>
  </h2>
</nav>

<div class="new-topic-form-container"></div>

<div class="repo-topic-list-container"></div>
