<div class="repo-thread-header">
  <a href="{{repo.name}}/threads/{{number}}">#{{number}}</a>
  <a href="{{repo.name}}/threads/{{number}}">{{name}}</a>
</div>
by <a class="thread-post-author" href="/{{first_post.user.username}}">{{first_post.user.username}}</a>
<time class="">{{#date}}{{created_at}}{{/date}}</time>
<span class="thread-post-metadata thread-post-date">{{total_posts}} posts</span>
