<nav class="navigation">
  <h2>
    <img class="avatar" src="{{#gravatar}}{{repo.user.gravatar_id}}{{/gravatar}}" alt="" />
    <a href="/{{repo.user.username}}">{{repo.user.username}}</a> /
    <a href="/{{repo.user.username}}/{{repo.name}}">{{repo.name}}</a> /
    <a href="{{number}}">#{{number}}</a>
  </h2>
</nav>

<div class="thread-posts"></div>
