<nav class="navigation">
  <h2>
    <img class="avatar" src="{{#gravatar}}{{repo.user.gravatar_id}}{{/gravatar}}" alt="" />
    <a href="/{{repo.user.login}}">{{repo.user.login}}</a> /
    <a href="/{{repo.user.login}}/{{repo.name}}">{{repo.name}}</a> /
    <a href="{{number}}">#{{number}}</a>
  </h2>
</nav>

<div class="topic-posts-container"></div>
<div class="new-post-form-container"></div>
