<div class="repo-topic-header">
  <a href="{{repo.name}}/topics/{{number}}">#{{number}}</a>
  <a href="{{repo.name}}/topics/{{number}}">{{title}}</a>
</div>
by <a class="post-author" href="/{{user.login}}">{{user.login}}</a>
<time class="">{{#date}}{{created_at}}{{/date}}</time>
<span class="post-metadata post-date">{{total_posts}} posts</span>
