<div class="repo-topic-header">
  <a href="{{repo.name}}/topics/{{number}}">#{{number}}</a>
  <a href="{{repo.name}}/topics/{{number}}">{{title}}</a>
</div>
by <a class="topic-post-author" href="/{{first_post.user.login}}">{{first_post.user.login}}</a>
<time class="">{{#date}}{{created_at}}{{/date}}</time>
<span class="topic-post-metadata topic-post-date">{{total_posts}} posts</span>
