<div class="repo-topic-header">
  <a href="{{url "topics#show" repo.user.login repo.name number}}">#{{number}}</a>
  <a href="{{url "topics#show" repo.user.login repo.name number}}">{{title}}</a>
</div>
by <a class="post-author" href="{{url "users#show" user.login}}">{{user.login}}</a>
<time class="">{{#date}}{{created_at}}{{/date}}</time>
<span class="post-metadata post-date">{{total_posts}} posts</span>
