{{#ifLoggedIn}}
  {{#withUser}}
  <div class="post-avatar-container">
    <img class="post-avatar avatar" src="{{#gravatar}}{{gravatar_id}}{{/gravatar}}" alt="" />
  </div>
  <div class="post-content">
    <div class="post-header">
      <a class="post-author" href="{{url "users#show" login}}">{{login}}</a>
      <em class="post-metadata">Posts are parsed with <a href="http://github.github.com/github-flavored-markdown/" class="gfm-help">Markdown</a></em>
    </div>
    <div class="post-text">
      <textarea class="new-post-body" required></textarea>
      <div class="post-buttons">
        <button class="new-post-create-button submit-form button">Comment on this topic{{showShortcut}}</button>
      </div>
    </div>
  </div>
  {{/withUser}}
{{else}}
  <p>You must be logged in to comment</p>
{{/ifLoggedIn}}
